/* ----------------------- */
/* Card Ex Beans
/* ----------------------- */

.bean-card-ex_img img {
  width: 100%;
}

/* Colors */
.bean-card-ex_red { background: #cc0000; color: #ffffff; }
.bean-card-ex_blue { background: #006ba6; color: #ffffff; }
.bean-card-ex_green { background: #76881d; color: #ffffff; }
.bean-card-ex_dark-red { background: #7c2529; color: #ffffff; }
.bean-card-ex_dark-blue { background: #003D4C; color: #ffffff; }
.bean-card-ex_dark-green { background: #3E4827; color: #ffffff; }
.bean-card-ex_brown { background: #8b5b29; color: #ffffff; }
.bean-card-ex_grey { background: #707372; color: #ffffff; }

.bean-card-ex_content {
  padding: 1.5rem;
}
